.header{
  background-color: lightskyblue;
  border-color:lightseagreen;
  border-width: 5px;
  border-style: groove;
  font-size: larger;
  font-style: normal;
}
img{
    background-color: transparent;
    width:150px;
    height: auto;
}